<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-PASSPORT</title>
    <!-- Load CSS -->
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/stylelogin.css">
    <link rel="stylesheet" href="css/admindashboard.css">
    <!--    <link rel="stylesheet" href="css/style.css">-->
    <!-- Load javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div id="headerpart">
        <div class="container">
            <div class="container-fluid">
                <div class="well well-sm">
                    <div class="row pt-2">
                        <div class="col-md-4">
                            <div class="first-title">
                                <span>HAVE ANY QUESTIONS?</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="second-title">
                                <span>ghub@geeta.edu.in</span>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <nav class=" navbar-expand-md navbar-dark">
                                <ul class="nav navbar-nav justify-content-end">
                                    <li class="nav-item"><a class="" href="/login"><i class="fas fa-user"></i>Login</a>
                                    </li>
                                    <li class="nav-item"><a class="" href="/registration"><i
                                                class="fa-solid fa-circle-plus"></i>Create Account</a></li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="second-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo">
                        <a href="/">
                            <img src="images/gsplogo.jpg" class="img-responsive" alt="">
                        </a>

                    </div>
                </div>
                <div class="col-md-6">
                    <nav class=" navbar-expand-md navbar-dark">
                        <ul class="nav navbar-nav justify-content-end">
                            <li class="nav-item"><a class="btn btn-success" href="/">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section id="main-section">
        <div class="left-sidebar">
            <div class="wrapper">
                <div class="sidebar">
                    <ul>
                        <li><a href="/dashboard"><i class="fas fa-home"></i>Dashboard</a></li>
                        <li class="notification1"><a href="student_details.html"><i
                                    class="fa-solid fa-clipboard"></i>&nbsp;&nbsp;Details Hub</a></li>
                        <li class="notification2"><a href="technical-work.html"><i class="fa-solid fa-network-wired"></i>&nbsp;&nbsp;Technical Work</a></li>
                        <li class="notification3"><a href="assessment-work.html"><i class="fas fa-users"></i>Assessments Work</a>
                        </li>
                        <li class="notification3"><a href="placement-work.html"><i class="fas fa-users"></i>Placements Work</a>
                        </li>
                        <li class="notification3"><a href=""><i class="fas fa-users"></i>Drive Skill</a></li>
                        </li>
                        <li><a href="#"><i class="fas fa-signal"></i>Reports</a></li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="main-content p-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="h3 p-2 mt-0 text-white" style="background-color: #F76A07;">
                            Personal Details
                        </h3>
                        <table class="table table-striped table-hover table-bordered text-center">
                            <tr>
                                <td rowspan="5" valign="middle">Photo</td>
                                <td>Name</td>
                                <td>ANISHA UPPAL</td>
                            </tr>
                            <tr>
                                <td>Roll Number</td>
                                <td>4914112</td>
                            </tr>
                            <tr>
                                <td>College</td>
                                <td>GGI</td>
                            </tr>
                            <tr>
                                <td>Branch</td>
                                <td>CSE</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Blood Group</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Nationality</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Mother Tongue</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Mobile No.</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                           
                            

                        </table>
                    </div>
                </div>
            </div>
    </section>
    <div id="footerpart">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo">
                        <a href="/">
                            <img src="images/darklogo.png" alt="" class="img-responsive">
                        </a>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="copy-right pt-3">
                        <p>Copyright &copy;2022 All rights reserved <br>
                            Made with &hearts; by <a href="/">TechnicalHub</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-icon pt-3 justify-content-end">
                        <a target="_blank" href="https://www.youtube.com/channel/UCohPL3_a3SAuX19V24rk_4w"><i
                                class="fa-brands fa-youtube"></i></a>
                        <a target="_blank" href="https://www.instagram.com/gtechnicalhub/"><i
                                class="fa-brands fa-instagram-square"></i></a>
                        <a target="_blank" href="https://www.facebook.com/gtechnicalhub"><i
                                class="fa-brands fa-facebook-square"></i></a>
                        <a target="_blank" href="https://twitter.com/gtechnicalhub"><i
                                class="fa-brands fa-twitter"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/gtechnicalhub/"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>