<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <a href="index.html"><img src="images/gsplogo.png" alt=""></a>
        </div>
        <div id="accordion">

            <div class="card">
                <div class="card-header">
                    <a href="index.html">
                        <li><i class="fa-solid fa-gauge"></i> &nbsp;Dashboard</li>
                    </a>
                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <a class="" data-bs-toggle="collapse" href="#collapseTwo">
                        <li><i class="fa-solid fa-book-open-reader"></i> &nbsp; <span>Students</span> </li>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">First item</a></li>
                            <li class="list-group-item"><a href="#">Second item</a></li>
                            <li class="list-group-item"><a href="#">Third item</a></li>
                            <li class="list-group-item"><a href="#">Fourth item</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="" data-bs-toggle="collapse" href="#collapseThree">
                        <li><i class="fa-solid fa-ribbon"></i> &nbsp; <span>Course</span> </li>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">First item</a></li>
                            <li class="list-group-item"><a href="#">Second item</a></li>
                            <li class="list-group-item"><a href="#">Third item</a></li>
                            <li class="list-group-item"><a href="#">Fourth item</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="" data-bs-toggle="collapse" href="#collapseFour">
                        <li><i class="fa-solid fa-chart-line"></i> &nbsp; <span>Course Mapping</span> </li>
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">First item</a></li>
                            <li class="list-group-item"><a href="#">Second item</a></li>
                            <li class="list-group-item"><a href="#">Third item</a></li>
                            <li class="list-group-item"><a href="#">Fourth item</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="" data-bs-toggle="collapse" href="#collapseFive">
                        <li><i class="fa-brands fa-playstation"></i> &nbsp; <span>Attempts</span> </li>
                    </a>
                </div>
                <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">First item</a></li>
                            <li class="list-group-item"><a href="#">Second item</a></li>
                            <li class="list-group-item"><a href="#">Third item</a></li>
                            <li class="list-group-item"><a href="#">Fourth item</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="" data-bs-toggle="collapse" href="#collapseSixe">
                        <li><i class="fa-solid fa-square-poll-horizontal"></i> &nbsp; <span>Results</span> </li>
                    </a>
                </div>
                <div id="collapseSixe" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">First item</a></li>
                            <li class="list-group-item"><a href="#">Second item</a></li>
                            <li class="list-group-item"><a href="#">Third item</a></li>
                            <li class="list-group-item"><a href="#">Fourth item</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="container-custom">                                                    
        <div class="header">                  
            <h3 class="header-title">Admin Dashboard</h3>
        </div>
        <div class="content">
            <div class="cards-custom">
                <a href="student-list.html" class="card-custom">
                    <div class="box">
                        <h1>2185</h1>
                        <h3>Total <br> Students</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                </a>
                <div class="card-custom">
                    <div class="box">
                        <h1>2185</h1>
                        <h3>Attemts</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                </div>
                <div class="card-custom" data-bs-toggle="modal" data-bs-target="#myModal-password-change">
                    <div class="box">
                        <h1>2185</h1>
                        <h3>Password Check</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                </div>
                <!-- The Modal -->
                <div class="modal fade" id="myModal-password-change">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Change Password</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="#">
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Roll Number</label>
                                        <input class="form-control" type="text" id="formFile">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-custom" data-bs-toggle="modal" data-bs-target="#myModal-personal-details">
                    <div class="box">
                        <h1>2185</h1>
                        <h3>Personal Details <br> Uploads</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                </div>
                <!-- The Modal -->
                <div class="modal fade" id="myModal-personal-details">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Personal Details Uploads</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="#">
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Select Personal Details file</label>
                                        <input class="form-control" type="file" id="formFile">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-custom" data-bs-toggle="modal" data-bs-target="#myModal-academic-details">
                    <div class="box">
                        <h1>2185</h1>
                        <h3>Academic Details <br> Uploads</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                </div>
                <!-- The Modal -->
                <div class="modal fade" id="myModal-academic-details">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Academic Details Uploads</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="#">
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Select Academic file</label>
                                        <input class="form-control" type="file" id="formFile">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-custom" data-bs-toggle="modal" data-bs-target="#myModal-attendance">
                    <div class="box">
                        <h1>2185</h1>
                        <h3>CRT Attendance <br> Uploads</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                </div>
                <!-- The Modal -->
                <div class="modal fade" id="myModal-attendance">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">CRT Attendance Uploads</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="#">
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Select Attendance file</label>
                                        <input class="form-control" type="file" id="formFile">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="content-2">
                <div class="student-list">
                    <div class="title">
                        <h2>STUDENTS LIST</h2>
                        <a href="#" class="btn btn-primary">View All</a>
                    </div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Serial</th>
                                <th>Roll Number</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Branch</th>
                                <th>College</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>214587</td>
                                <td>John Doe</td>
                                <td>7404606419</td>
                                <td>gth.shafiqul@geeta.edu.in</td>
                                <td>CSE</td>
                                <td>GEC</td>
                                <td><a href="student-profile.html"><center><i class="fa-solid fa-eye"></i></center></a></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>214587</td>
                                <td>John Doe</td>
                                <td>7404606419</td>
                                <td>gth.shafiqul@geeta.edu.in</td>
                                <td>CSE</td>
                                <td>GEC</td>
                                <td><a href="student-profile.html"><center><i class="fa-solid fa-eye"></i></center></a></td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>214587</td>
                                <td>John Doe</td>
                                <td>7404606419</td>
                                <td>gth.shafiqul@geeta.edu.in</td>
                                <td>CSE</td>
                                <td>GEC</td>
                               <td><a href="student-profile.html"><center><i class="fa-solid fa-eye"></i></center></a></td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>214587</td>
                                <td>John Doe</td>
                                <td>7404606419</td>
                                <td>gth.shafiqul@geeta.edu.in</td>
                                <td>CSE</td>
                                <td>GEC</td>
                               <td><a href="student-profile.html"><center><i class="fa-solid fa-eye"></i></center></a></td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>214587</td>
                                <td>John Doe</td>
                                <td>7404606419</td>
                                <td>gth.shafiqul@geeta.edu.in</td>
                                <td>CSE</td>
                                <td>GEC</td>
                            <td><a href="student-profile.html"><center><i class="fa-solid fa-eye"></i></center></a></td>
                            </tr>
                            <tr>
                                <td>06</td>
                                <td>214587</td>
                                <td>John Doe</td>
                                <td>7404606419</td>
                                <td>gth.shafiqul@geeta.edu.in</td>
                                <td>CSE</td>
                                <td>GEC</td>
                               <td><a href="student-profile.html"><center><i class="fa-solid fa-eye"></i></center></a></td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>214587</td>
                                <td>John Doe</td>
                                <td>7404606419</td>
                                <td>gth.shafiqul@geeta.edu.in</td>
                                <td>CSE</td>
                                <td>GEC</td>
                               <td><a href="student-profile.html"><center><i class="fa-solid fa-eye"></i></center></a></td>
                            </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>



                    </table>

                    <ul class="pagination justify-content-end" style="margin:20px 10px">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>