<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/stylelogin.css">
<!--    <link rel="stylesheet" href="css/style.css">-->

</head>

<body>
<div id="headerpart">
    <div class="container">
        <div class="container-fluid">
            <div class="well well-sm">
                <div class="row pt-2">
                    <div class="col-md-4">
                        <div class="logo">
                            <img src="images/gsplogo.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="title">
                            <h3 class="">JOIN GEEAT TECHNICAL HUB</h3>
                       </div>
                       
                    </div>
                    <div class="col-md-4">
                       <div class="right-menu">
                            <ul>
                            <li><i class="fas fa-user"></i><a href="#">Login</a></li>
                            <li><i class="fas fa-user"></i><a href="#">Register</a></li>
                        </ul>
                       </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contentpart">
      <div class="container">
          
      </div> 
</div>
   
   <div id="footerpart">
       <div class="container">
           
       </div>
   </div>
    

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>