<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-PASSPORT</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/stylelogin.css">
    <!--    <link rel="stylesheet" href="css/style.css">-->

</head>

<body>
    <div id="headerpart">
        <div class="container">
            <div class="container-fluid">
                <div class="well well-sm">
                    <div class="row pt-2">
                        <div class="col-md-4">
                            <div class="first-title">
                                <span>HAVE ANY QUESTIONS?</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="second-title">
                                <span>ghub@geeta.edu.in</span>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <nav class=" navbar-expand-md navbar-dark">
                                <ul class="nav navbar-nav justify-content-end">
                                    <li class="nav-item"><a class="" href="login.html"><i class="fas fa-user"></i>Login</a></li>
                                    <li class="nav-item"><a class="" href="regi.html"><i class="fa-solid fa-circle-plus"></i>Create Account</a></li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="second-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo">
                        <img src="images/gsplogo.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <nav class=" navbar-expand-md navbar-dark">
                        <ul class="nav navbar-nav justify-content-end">
                            <li class="nav-item"><a class="btn btn-success" href="home.html">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="contentpart">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 mt-3 shadow p-4 mb-4 bg-white rounded h-100 ">
                    <div class="card card-main">
                        <div class="card-header">
                            <h3 class="text-center pt-3 pb-3 text-uppercase">CREATE YOUR ACCOUNT</h3>
                        </div>
                        <div class="card-body">
                            <form action="/action_page.php">
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" class="form-control shadow" id="roll" placeholder="Enter phone" name="phone">
                                    <label class="text-uppercase" for="email"> Password</label>
                                </div>
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" class="form-control shadow" id="roll" placeholder="Enter phone" name="phone">
                                    <label class="text-uppercase" for="email">Confirm Password</label>
                                </div>
                               
                                <div class="form-bottom mt-5 align-bottom">
                                    <button type="submit" class="btn btn-primary mt-3">Next</button>
                                   
                                </div>



                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="footerpart">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo">
                        <img src="images/darklogo.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="copy-right pt-3">
                        <p>Copyright &copy;2022 All rights reserved <br>
                            Made with &hearts; by <a href="#">TechnicalHub</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-icon pt-3 justify-content-end">
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-instagram-square"></i>
                        <i class="fa-brands fa-facebook-square"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>