<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Profile Geeta</title>
    <!--    Css Part Start -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body> 

    <section id="headerpartone"><!-- headerpartone START  -->
        <div class="container">
            <div class="header">
                <div class="row">
                    <div class="col-md-3">
                        <h4>HAVE ANY QUESTIONS?</h4>
                    </div>
                    <div class="col-md-3">
                        <h5>ghub@geeta.edu.in</h5>
                    </div>
                    <div class="col-md-3">
                       <div class="right_menu">
                            <i class="fa fa-user"></i>
                        <a href="#">Login</a> / 
                         <i class="fa fa-plus"></i>
                        <a href="#">Create Account</a>
                       </div>
                       
                    </div>
                </div>
            </div>
        </div>
        
    </section><!-- headerpartone END  -->
    
    
    <section id="headerparttwo"><!-- headerparttwo START  -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="menu">
                        <a href="#">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- headerparttwo END  -->
    
    
    <section id="sliderpart"> <!-- sliderpart START  -->
        
    </section><!-- sliderpart END  -->
     
      
    <section id="footerpart"><!-- footerpart START  -->
        <div class="container"> 
            <div class="footer">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footerlogo">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="copyright">
                            <p>Copyright ©2022 All rights reserved <br>
                            Made with <i class="fa fa-heart"></i>  by <a href="#">TechnicalHub</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footericon">
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-Instagram"></i>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footerpart END  -->
    

    <!--  Script File Star  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<!--  Script File End  -->
</body>
</html>